.idea/
*.iml
.settings
*.classpath
.project

target/

node_modules/
package-lock.json

*.pyc

res/
kaggle/mobike/src/main/resources/public/dataseeds/mobike_testing.json
kaggle/mobike/src/main/resources/public/dataseeds/mobike_training.json
